# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/

# Docker
*.env.docker

# Database
*.sqlite
*.sqlite3

# Temporary files
tmp/
temp/